<h1>Hello User!</h1>
 <br />
 <p>Username: <%= @user.name %></p>
 <p>Email: <%= @user.email %></p>
 <p>Member since: <%= (@user.created_at).to_formatted_s(:long_ordinal) %></p>
 <p>Last login: <%= time_ago_in_words(@user.last_sign_in_at) %></p> 
 <h1>
    To do list:
 </h1>
  <table class="table table-striped">
     <tbody>
       <br/>
         <%= '/n' render  @item %>
       <br/>
      <%= render partial: 'items/form', locals: {user: @user, item: @user.items.new} %>
    </tbody>
  </table>